@import "base";

.title {
  font-size: 4rem;
  color: $color-primary;
  text-align: center;
  margin-top: 2rem;
  @media only screen and (max-width: 30em) {
    text-align: center;
    font-size: 3.5rem;
    width: min-content;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  @media only screen and (max-width: 30em) {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

.choice {
  cursor: pointer;
  font-size: 12rem;
  color: $color-secondary;
  @media only screen and (max-width: 30em) {
    margin-bottom: 2rem;
    font-size: 9rem;
  }
  &:hover {
    color: $color-primary;
  }
}

.outcome {
  font-weight: 900;
  margin-top: 8rem;
  text-align: center;
  font-size: 3rem;
  color: $color-primary;
  @media only screen and (max-width: 30em) {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.pick-js {
  transform: scale(1.2) rotate(10deg);
}

.scoreboard {
  margin: 8rem auto;
  font-size: 3rem;
  @media only screen and(max-width: 30em) {
    display: none;
  }
}

.scoreboard,
.scoreboard th,
.scoreboard td {
  border: 1px solid #333;
}

.scoreboard {
  width: 45rem;
}

.player,
.computer {
  font-weight: 600;
}

.player {
  background-color: #cfd8dc;
}

.computer {
  background-color: #bdbdbd;
}

th {
  background-color: #b0bec5;
}
