$bg-color: #f0f5f9;
$color-primary: #52616a;
$color-secondary: #1e2022;

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: $bg-color;
}

.title {
  font-size: 4rem;
  color: $color-primary;
  @media only screen and (max-width: 30em) {
    text-align: center;
    font-size: 3.5rem;
    width: min-content;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  @media only screen and (max-width: 30em) {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

.choice {
  cursor: pointer;
  font-size: 12rem;
  color: $color-secondary;
  @media only screen and (max-width: 30em) {
    margin-bottom: 2rem;
    font-size: 8rem;
  }
  &:hover {
    color: $color-primary;
  }
}

.outcome {
  font-weight: 900;
  margin-top: 8rem;
  text-align: center;
  font-size: 3rem;
  color: $color-primary;
  @media only screen and (max-width: 30em) {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.pick-js {
  transform: scale(1.2) rotate(10deg);
}
