.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  @media only screen and (max-width: 30em) {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
